@model AgilTeamManager.Core.Models.ScrumBoardColunas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ScrumBoardColunas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ordem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ordem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
