@model AgilTeamManager.Core.ViewModel.SprintViewModel

@{
    ViewBag.Title = "Edit";
}

<style type="text/css">
    .block {
        z-index: 9999;
        cursor: move;
    }
</style>

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Sprint</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(Model => Model.Sprint.Id)
    @Html.Partial("_PartialCreateOrEdit", Model)


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Back to List", "Index")
            <input style="margin-left: 20px" type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>

    <div style="margin-left: 100px">
        @Html.Partial("_PartialBoards", Model)
    </div>
</div>
}


